<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css "
      rel="stylesheet"
    />
       <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../clash-display.css" />
  </head>
  <body>
    <header id="header">
       <img src="../assets/imagens/logo-sp.png" alt="">
      <nav>
        <ul class="menu-links">
          <li class="nav-link"><a href="/index.html">Home</a></li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Produtos
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/components/chopeiras.html"
                  >Chopeiras</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/components/acessorios.html"
                  >Acessórios</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/components/adegas.html"
                  >Adegas Climatizada</a
                >
              </li>
            </ul>
          </div>
          <li class="nav-link">
            <a href="/components/sobre.html">Sobre Nos</a>
          </li>
          <li class="nav-link"><a href="/components/contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="s-img-header s-img-header4">
      <div class="text-chopeira-bg">
        <h1>Acessorios</h1>
      </div>
    </section>

    <div class="text-s-projects text-s-projects2">
      <h2>Sistema de Extração e Serviço</h2>
    </div>

    <section class="acessorios-section">
      <div class="acessorios-grid">
        <a href="#" class="acessorio-card destaque" style="border: 1px solid rgba(255, 255, 255, 0.342);">
          <div class="tag">Mais Vendido</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/1.png"
            alt=""
          />
          <h4>Barril de Ascepsia</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/2.png"
            alt=""
          />
          <h4>Dispensadora de Chopp Italiana</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/3.png"
            alt=""
          />
          <h4>Dispensadora de Chopp Belga com Regulagem Traseira</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Novo</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/4.png"
            alt=""
          />
          <h4>Cremadora de Chopp Marca Ccitti</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/5.png"
            alt=""
          />
          <h4>Dispensadora de Chopp Belga Marca Talos</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/7.png"
            alt=""
          />
          <h4>Dispensadora de Chopp Marca Ccitti</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/6.png"
            alt=""
          />
          <h4>Tap Hendle Cromado para Torneira de Chopp</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/10.png"
            alt=""
          />
          <h4>Regulador de Pressão CO2 com 1 Saída</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/11.png"
            alt=""
          />
          <h4>Regulador de Pressão CO2 Pré Calibrado</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/12.png"
            alt=""
          />
          <h4>Regulador de Pressão 2 Saídas</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/14.png"
            alt=""
          />
          <h4>Mangueira 1m e 1/2 Rígida com Conexão Engate Rápido 5/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/15.png"
            alt=""
          />
          <h4>Mangueira 1m e 1/2 Trançada Atoxica com Conexão 5/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/16.png"
            alt=""
          />
          <h4>Mangueira Trançada Atoxica 3/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/17.png"
            alt=""
          />
          <h4>Conexão Engate Rápido 5/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/18.png"
            alt=""
          />
          <h4>Conexão Engate Rápido Curvo 3/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/19.png"
            alt=""
          />
          <h4>Conexão Engate Rápido Reto 3/8</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/13.png"
            alt=""
          />
          <h4>Cilindro de CO2 de 4,6 kilos</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/20.png"
            alt=""
          />
          <h4>Válvula de Retrolavagem</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/21.png"
            alt=""
          />
          <h4>Válvula Extratora de Chopp</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Sistema de Extração e Serviço/22.png"
            alt=""
          />
          <h4>Motobomba de Recirculação Marca EBM</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>
      </div>
    </section>

    <div class="banner-cta2">
      <section
        class="relative bg-yellow-100 h-[720px] flex items-center justify-center text-center px-6"
      >
        <div
          class="max-w-4xl mx-auto"
          style="align-items: center; display: flex; flex-direction: column"
        >
          <h1
            class="text-8xl md:text-8xl font-extrabold text-yellow-900 leading-tight"
            style="font-size: 4em; color: #f1a10b"
          >
            Tudo para seu sistema de chope em um só lugar!
          </h1>
          <p class="text-lg md:text-xl text-yellow-800 mt-6">
            Monte do seu jeito: componentes avulsos ou kits completos prontos
            para instalar.
          </p>
          <button class="btn9" style="margin-top: 5%"><a href="#"></a></button>
        </div>
      </section>
    </div>

    <div class="text-s-projects text-s-projects2">
      <h2>Instalação e Montagem</h2>
    </div>

    <section class="acessorios-section">
      <div class="acessorios-grid">
        <a href="#" class="acessorio-card destaque">
          <div class="tag">Mais Vendido</div>
          <img
            src="../assets/imagens/Acessorios/Instalação e Montagem/2.png"
            alt=""
          />
          <h4>Base Pingadeira de Chopp sem Ducha de Gela Copos</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Instalação e Montagem/3.png"
            alt=""
          />
          <h4>Dispensadora de Chopp Italiana</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Instalação e Montagem/23.png"
            alt=""
          />
          <h4>Base Pingadeiras de Chopp com Ducha de Gela Copos</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Novo</div>
          <img
            src="../assets/imagens/Acessorios/Instalação e Montagem/24.png"
            alt=""
          />
          <h4>Controlador de Temperatura com Degelo y39</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Acessorios/Instalação e Montagem/25.png"
            alt=""
          />
          <h4>Kit Completo de Extração de Chopp</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>
      </div>
    </section>
    <div class="button-zap">
      <a
        href="https://api.whatsapp.com/send?phone=16982142864"
        class="icon"
        target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../swiper.js"></script>
</html>
