<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sp chopeiras</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../clash-display.css" />
  </head>
  <body>
    <header id="header">
      <img src="../assets/imagens/logo-sp.png" alt="" />
      <nav>
        <ul class="menu-links">
          <li class="nav-link"><a href="/index.html">Home</a></li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Produtos
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/components/chopeiras.html"
                  >Chopeiras</a
                >
              </li>
              <li><a class="dropdown-item" href="/components/acessorios.html">Acessórios</a></li>
              <li>
                <a class="dropdown-item" href="/components/adegas.html"
                  >Adegas Climatizada</a
                >
              </li>
            </ul>
          </div>
          <li class="nav-link">
            <a href="/components/sobre.html">Sobre Nos</a>
          </li>
          <li class="nav-link"><a href="/components/contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>

    <section class="s-img-header s-img-header2">
      <div class="text-chopeira-bg">
        <h1>Adegas <br />Climatizadas</h1>
      </div>
    </section>

    <section class="adegas">
      <div class="box-wrapper">
        <img src="/assets/imagens/adega1.png" alt="" />
        <div class="txt-adega">
          <h2>Seu vinho sempre na temperatura perfeita.</h2>
          <p>
            Transforme qualquer ambiente com uma adega climatizada que une
            sofisticação e funcionalidade. Ideal para preservar o sabor, o aroma
            e o valor dos seus rótulos preferidos. Design moderno, controle
            digital de temperatura e diversos tamanhos para se adaptar ao seu
            espaço.
          </p>
          <a href="#">Compre agora</a>
        </div>
      </div>

      <div class="box-wrapper">
        <div class="txt-adega">
          <h2>Adega climatizada, o toque final para o seu espaço gourmet.</h2>
          <p>
            Além de conservar seus vinhos na temperatura ideal, nossas adegas
            são um charme à parte na decoração. Com tecnologia silenciosa,
            iluminação interna e diferentes capacidades, elas se encaixam
            perfeitamente no seu estilo de vida — seja você um apreciador casual
            ou um verdadeiro sommelier.
          </p>
          <a href="#">Compre agora</a>
        </div>
        <img src="/assets/imagens/adega2.png" alt="" />
      </div>

      <div class="box-wrapper">
        <img src="/assets/imagens/adega3.png" alt="" />
        <div class="txt-adega">
          <h2>Sabor, elegância e praticidade, direto na sua casa.</h2>
          <p>
            Invista em uma adega climatizada e garanta a conservação perfeita
            dos seus vinhos tintos, brancos e espumantes. Controle de umidade,
            temperatura estável e um visual que impressiona. Um item
            indispensável para quem ama vinho e valoriza cada detalhe.
          </p>
          <a href="#">Compre agora</a>
        </div>
      </div>
    </section>

    <div class="button-zap">
      <a
        href="https://api.whatsapp.com/send?phone=16982142864"
        class="icon"
        target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>

    <footer>
      <img src="../assets/imagens/image 7.png" alt="" />
      <div class="newsletter">
        <h4>Join a Newsletter</h4>
      </div>
      <div class="box-footer">
        <ul class="links-footer link-espacamento">
          <h5>Links Rápidos</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Chopeiras</a></li>
          <li><a href="#">Acessórios</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
        <ul class="links-footer">
          <h5>Resources</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
        </ul>
      </div>
      <div class="txt-footer">
        <h4>Sp Chopeiras</h4>
        <p>
          Seja bem-vindo as Sp Chopeiras, <br />trabalhamos intensamente para<br />
          garantir a melhor experiência <br />para você.
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../swiper.js"></script>
  </body>
</html>
