<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sp chopeiras</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
       <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/pagedone@1.2.2/src/css/pagedone.css "
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../clash-display.css" />

    <style>
      body {
        font-family: var(--fonte-principal);
      }

      :root {
  --cor-principal: #fdd100;
  --fonte-principal: ClashDisplay-Medium;
}
    </style>
  </head>
  <body>
        <header id="header">
           <img src="../assets/imagens/logo-sp.png" alt="">
      <nav>
        <ul class="menu-links">
          <li class="nav-link"><a href="/index.html">Home</a></li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Produtos
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/components/chopeiras.html"
                  >Chopeiras</a
                >
              </li>
              <li><a class="dropdown-item" href="/components/acessorios.html">Acessórios</a></li>
              <li>
                <a class="dropdown-item" href="/components/adegas.html"
                  >Adegas Climatizada</a
                >
              </li>
            </ul>
          </div>
          <li class="nav-link">
            <a href="/components/sobre.html">Sobre Nos</a>
          </li>
          <li class="nav-link"><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    

    <section class="s-img-header">
      <div class="text-chopeira-bg">
        <h1>Chopeiras</h1>
      </div>
    </section>
    <div class="text-s-projects">
      <h2>Chopeiras Elétricas</h2>
    </div>

     <section class="acessorios-section">
      <div class="acessorios-grid" style="grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));">
        <a href="#" class="acessorio-card destaque" style="border: 1px solid rgba(255, 255, 255, 0.342);">
          <div class="tag">Mais Vendido</div>
          <img
            src="../assets/imagens/Chopeiras/1.png"
            alt=""
          />
          <h4>Chopeira Naja 1 via</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Chopeiras/2.png"
            alt=""
          />
          <h4>Chopeira Naja 2 via</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Chopeiras/3.png"
            alt=""
          />
          <h4>Chopeira Naja 3 via</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Novo</div>
          <img
            src="../assets/imagens/Chopeiras/6.png"
            alt=""
          />
          <h4>Torre Stela</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Chopeiras/5.png"
            alt=""
          />
          <h4>Chopeira Trave</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Chopeiras/4.png"
            alt=""
          />
          <h4>Torre Tubular Chanfrada</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Chopeiras/7.png"
            alt=""
          />
          <h4>Torre Tubular Inclinada</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <div class="tag">Destaque</div>
          <img
            src="../assets/imagens/Chopeiras/8.png"
            alt=""
          />
          <h4>Torre Tubular Modelo T
</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Chopeiras/9.png"
            alt=""
          />
          <h4>Torre Tubular Modelo Y</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

      </div>
    </section>


     <section class="acessorios-section">
      <div class="acessorios-grid" style="grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));">
        <a href="#" class="acessorio-card destaque" style="border: 1px solid rgba(255, 255, 255, 0.342);">
          <div class="tag">Mais Vendido</div>
          <img
            src="../assets/imagens/Chopeiras/11.png"
            alt=""
          />
          <h4>Chopeira a Gelo - Acampy 1 Torneira Italiana</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Chopeiras/12.png"
            alt=""
          />
          <h4>Chopeira a Gelo - Acampy 2 Torneiras Italiana
</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

        <a href="#" class="acessorio-card destaque">
          <img
            src="../assets/imagens/Chopeiras/10.png"
            alt=""
          />
          <h4>Chopeira a Gelo - Cooler 1 Torneira Italiana</h4>
          <p style="text-align: center; font-size: 24px; color: #f1a10b">
            Compre agora
          </p>
        </a>

      </div>
    </section>


    <div class="box-cards">
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/1.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Chopeira Naja 1 via</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis</p>         
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/2.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Chopeira Naja 2 via</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/3.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Chopeira Naja 2 via</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

        <div class="box-cards" style="margin-top: 5%;">
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/4.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Torre Stela</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciati </p>        
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/5.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Chopeira Modelo Trave</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/6.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Torre Tubular Chanfrada </h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

     <div class="box-cards" style="margin-top: 5%;">
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/7.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Torre Tubular Inclinada</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciati </p>        
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/8.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Torre Tubular Modelo T</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/9.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3>Torre Tubular Modelo Y </h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

    <!-- End container cards najas-->

     <div class="text-s-projects">
      <h2>Chopeiras Expansão</h2>
    </div>

    <div class="box-cards">
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/10.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 style="font-size: 1.9em;">
Chopeira de Expansão Sumer</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis</p>         
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 45rem">
        <img
          src="../assets/imagens/11.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">Chopeira de Expansão Polo 251</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/12.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">Chopeira de Expansão Polo 402</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="box-cards" style="margin-top: 5%;">
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/10.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">
Chopeira de Expansão Polo 702</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis</p>         
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/11.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">
Chopeira de Expansão Polo 703</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      </div>
    </div>

    <!--End container expansão-->

         <div class="text-s-projects">
      <h2>Chopeiras à Gelo</h2>
    </div>

    <div class="box-cards">
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/15.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3 style="font-size: 1.9em;">
Chopeira a Gelo - Acampy 1 Torneira Italiana</h3> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis</p>         
          <a href="#">Saiba mais</a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/16.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">Chopeira a Gelo - Acampy 2 Torneiras Italiana</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="card2" style="width: 31.2rem; height: 46rem">
        <img
          src="../assets/imagens/17.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h3  style="font-size: 1.9em;">
Chopeira a Gelo - Cooler 1 Torneira Italiana</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto quas magnam eos assumenda ullam ipsam nulla perspiciatis
          </p>
          <a href="#"
            >Saiba mais<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
     <div class="button-zap">
      <a
        href="https://api.whatsapp.com/send?phone=16982142864"
        class="icon"
        target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>

    <footer>
      <img src="../assets/imagens/image 7.png" alt="" />
      <div class="newsletter">
        <h4>Join a Newsletter</h4>
      </div>
      <div class="box-footer">
        <ul class="links-footer link-espacamento">
          <h5>Links Rápidos</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Chopeiras</a></li>
          <li><a href="#">Acessórios</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
        <ul class="links-footer">
          <h5>Resources</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
        </ul>
      </div>
      <div class="txt-footer">
        <h4>Sp Chopeiras</h4>
        <p>
          Seja bem-vindo as Sp Chopeiras, <br />trabalhamos intensamente para<br />
          garantir a melhor experiência <br />para você.
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../swiper.js"></script>

    <script>
      const swiper5 = new Swiper(".mySwiper5", {
        slidesPerView: 1,
        spaceBetween: 20,
        breakpoints: {
          640: {
            slidesPerView: 1,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        },
        navigation: {
          nextEl: ".swiper-button-next5",
          prevEl: ".swiper-button-prev5",
        },
      });
    </script>
  </body>
</html>
