<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sp chopeiras</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
       <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../clash-display.css" />
  </head>
  <body>
    <header id="header">
       <img src="../assets/imagens/logo-sp.png" alt="">
      <nav>
        <ul class="menu-links">
          <li class="nav-link"><a href="/index.html">Home</a></li>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Produtos
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/components/chopeiras.html"
                  >Chopeiras</a
                >
              </li>
              <li><a class="dropdown-item" href="/components/acessorios.html">Acessórios</a></li>
              <li>
                <a class="dropdown-item" href="/components/adegas.html"
                  >Adegas Climatizada</a
                >
              </li>
            </ul>
          </div>
          <li class="nav-link">
            <a href="/components/sobre.html">Sobre Nos</a>
          </li>
          <li class="nav-link"><a href="/components/contato.html">Contato</a></li>
        </ul>
      </nav>
    </header>
    <section class="s-img-header s-img-header3">
      <div class="text-chopeira-bg">
        <h1>Sobre Nós</h1>
      </div>
    </section>

    <div class="text-s-projects">
      <h2>Nossa localização</h2>
    </div>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.7834782012474!2d-48.00842202392165!3d-21.1211967765069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b999a27db4a62d%3A0x180dc4ff00ac6afc!2sSP%20Chopeiras!5e0!3m2!1spt-BR!2sbr!4v1751293718331!5m2!1spt-BR!2sbr"
      width="100%"
      height="700"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div class="button-zap">
      <a
        href="https://api.whatsapp.com/send?phone=16982142864"
        class="icon"
        target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
    <div class="button-zap">
      <a
        href="https://api.whatsapp.com/send?phone=16982142864"
        class="icon"
        target="_blank"
        ><i class="bi bi-whatsapp"></i
      ></a>
    </div>
    <footer>
      <img src="../assets/imagens/image 7.png" alt="" />
      <div class="newsletter">
        <h4>Join a Newsletter</h4>
      </div>
      <div class="box-footer">
        <ul class="links-footer link-espacamento">
          <h5>Links Rápidos</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Chopeiras</a></li>
          <li><a href="#">Acessórios</a></li>
          <li><a href="#">Projetos</a></li>
          <li><a href="#">Contatos</a></li>
        </ul>
        <ul class="links-footer">
          <h5>Resources</h5>
          <li><a href="#">Home</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
          <li><a href="#">Teste</a></li>
        </ul>
      </div>
      <div class="txt-footer">
        <h4>Sp Chopeiras</h4>
        <p>
          Seja bem-vindo as Sp Chopeiras, <br />trabalhamos intensamente para<br />
          garantir a melhor experiência <br />para você.
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../swiper.js"></script>
  </body>
</html>
